.container.has-text-centered{
  width: 80%;
}
.hero {
  background-image: linear-gradient(to bottom right, #2596be, #f2fcfe);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar-item a {
  padding: 0;
}
.navbar-brand p {
  align-items: center;
  padding-left: 5px;
}
